
<form {{action 'authenticate' on='submit'}}>
  <div class="mdl-cell mdl-cell--12-col">
    {{mdl-textfield value=identification label="Email"}}
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    {{mdl-textfield value=password type='password' label="Password"}}
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Login</button>
  </div>
</form>

<div class="mdl-cell mdl-cell--12-col">
  {{#if errorMessage}}
  <div>
    <p>
      <strong>Login failed:</strong> <code>{{errorMessage}}</code>
    </p>
  </div>
  {{/if}}
</div>
