<div class="mdl-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Bonagora Challenge</span>
      {{#if session.isAuthenticated}}
        <nav class="mdl-navigation">
          {{#link-to 'products' class="mdl-navigation__link"}}Products{{/link-to}}
          <a {{action 'logout'}} class="mdl-navigation__link">Logout</a>
        </nav>
      {{else}}
        <nav class="mdl-navigation">
          {{#link-to 'login' class="mdl-navigation__link"}}Login{{/link-to}}
        </nav>
      {{/if}}
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
      {{outlet}}
    </div>
  </main>

  {{#mdl-mini-footer}}
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Vladimir Zhukov</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://github.com/voldy/bonagora" target="_blank">Github</a></li>
    </ul>
  </div>
  {{/mdl-mini-footer}}
</div>
